<!DOCTYPE html>
<html>
    <head>
        <title>AP</title>
        {{ dropzone.load() }}
        {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
    </head>
    <body>
        <h1>Upload images!</h1>
        {{ dropzone.create(action_view='upload_image') }}
    </body>
</html>