/*!
 * Start Bootstrap - Thumbnail Gallery (https://startbootstrap.com/template-overviews/thumbnail-gallery)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-thumbnail-gallery/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

div.imagetiles div.col-lg-3.col-md-4.col-sm-3.col-xs-6{
  padding: 0px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
